@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 7.06%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0, 0%, 95.29%;
		--secondary-foreground: 0 0% 11%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--accent: 0, 0%, 90.98%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0, 0%, 7.06%;
		--foreground: 0 0% 100%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0, 0%, 10.2%;
		--secondary-foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--accent: 0, 0%, 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
	}
}

::selection {
	background: #e94336;
	color: var(--foreground);
}

.rdp-vhidden {
	@apply hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	/* set background color to normal and text too */
	background-color: red;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	html::-webkit-scrollbar {
		background-color: var(--destructive);
		width: 0.5rem;
	}
	html::-webkit-scrollbar-thumb {
		background-color: #7d7d7d3e;
		border-radius: 0.5rem;
	}

	input[type="number"] {
		-moz-appearance: textfield;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
		width: 0;
	}
	.h-screen {
		height: 100lvh;
	}
	.bg-gradient {
		background: rgb(228, 43, 43);
		background: linear-gradient(
			45deg,
			rgba(228, 43, 43, 1) 0%,
			rgba(244, 126, 82, 1) 81%
		);
	}

	.fill-gradient {
		fill: url(#fill-gradient);
	}

	.bg-hero-gradient {
		background: rgb(228, 43, 43);
		background: linear-gradient(
			27deg,
			rgba(228, 43, 43, 0.5) 0%,
			rgba(244, 126, 82, 0.5) 81%
		);
	}

	.hero-input[type="text"]:focus + .hero-label,
	.hero-input[type="text"]:not(:placeholder-shown) + .hero-label {
		transform: translateY(-1.5rem); /* Adjust the value as needed */
		font-size: 0.75rem; /* Adjust the size as needed */
	}
	.hero-label {
		transition: transform 0.2s ease, font-size 0.2s ease;
		pointer-events: none; /* So you can click through the label to focus the input */
		transform-origin: left bottom;
	}

	.text-gradient {
		background: linear-gradient(
			45deg,
			rgba(228, 43, 43, 1) 0%,
			rgba(244, 126, 82, 1) 81%
		);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.nav-item {
		position: relative;
		display: inline-block;
		@apply text-[18px] font-medium;
		color: var(--text-foreground-color);
		transition: color 0.3s;
	}

	.nav-item-mobile {
		position: relative;
		display: inline-block;
		@apply text-[18px] font-medium;
		color: var(--text-foreground-color);
	}

	.nav-item::after {
		content: attr(data-text); /* Use the text content of the element */
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(
			45deg,
			rgba(228, 43, 43, 1) 0%,
			rgba(244, 126, 82, 1) 81%
		);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		-webkit-text-fill-color: transparent;
		opacity: 0; /* Hide it initially */
		transition: opacity 0.3s; /* Smooth transition for the opacity */
		pointer-events: none; /* Allow clicks to pass through */
	}

	.nav-item:hover::after {
		opacity: 1; /* Show the gradient on hover */
	}

	.nav-item:hover {
		color: transparent; /* Hide the text on hover */
	}
	.mask {
		mask-image: url("@/public/mask.svg");
		mask-repeat: no-repeat;
		mask-size: 40px;
		background: #ec4e39;
		position: absolute;
		color: black;
	}

	.rippleButton.gradient {
		@apply relative overflow-hidden rounded-xl flex-shrink-0 bg-gradient h-[50px] md:h-[60px] text-white font-medium text-[16px] md:text-[18px] flex gap-3 items-center justify-center transition-all duration-200 ease-in-out disabled:opacity-50;
	}

	.rippleButton.nofill {
		@apply relative overflow-hidden rounded-xl flex-shrink-0 h-[50px] md:h-[60px] text-white font-medium text-[16px] md:text-[18px] flex gap-3 items-center justify-center transition-all duration-200 ease-in-out disabled:opacity-50;
	}

	.rippleButton.outlined {
		@apply relative overflow-hidden rounded-xl flex-shrink-0 border-[1px] border-foreground w-full h-[50px] md:h-[60px] disabled:opacity-50 text-foreground font-medium text-[16px] md:text-[18px] flex gap-3 items-center justify-center transition-all duration-200 ease-in-out;
	}

	span.ripple {
		position: absolute;
		border-radius: 50%;
		transform: scale(0);
	}

	span.ripple.fast {
		animation: ripple 500ms linear;
	}

	span.ripple.slow {
		animation: ripple 1500ms linear;
	}

	span.ripple.medium {
		animation: ripple 1000ms linear;
	}

	@keyframes ripple {
		0% {
			transform: scale(0);
			opacity: 1;
		}
		50% {
			transform: scale(2);
			opacity: 0.2;
		}
		100% {
			transform: scale(4);
			opacity: 0;
		}
	}

	html.dark input:-webkit-autofill,
	html.dark input:-webkit-autofill:hover,
	html.dark input:-webkit-autofill:focus {
		-webkit-text-fill-color: white;
		-webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
		transition: background-color 5000s ease-in-out 0s;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus {
		-webkit-text-fill-color: black;
		-webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
		transition: background-color 5000s ease-in-out 0s;
	}
}

.noscrollbar::-webkit-scrollbar {
	display: none;
}
